@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  height: 100%;
}

body {
  height: 100%;
  background: #2f3e56;
  color: #eff3f9;
  margin: 0;
  font-family: 'Varela Round';
  font-size: 18px;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  box-sizing: border-box;
  background: #2f3e56;
  padding: 24px;
  max-width: 850px;
  margin: 0 auto;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  min-height: 54px;
}

.section--main {
  flex-grow: 1;
}

.section--output {
  align-items: flex-end;
}

.button {
  display: inline-block;
  padding: 12px;
  height: 14px;
  min-width: 14px;
  text-align: center;
  line-height: 14px;
  background-color: #eff3f9;
  color: #2a2f35;
  border-radius: 2px;
  transition: background-color 0.2s;
  flex-shrink: 0;
  user-select: none;
}

.button:not(.button--disabled):hover {
  background-color: #d7dbe0;
  cursor: pointer;
}

.button--disabled {
  color: #a1a4a8;
  background-color: #d7dbe0;
  cursor: default;
}

.tv-show-input {
  display: flex;
  flex-grow: 1;
}

.tv-show-input__wrapper {
  display: flex;
  flex-grow: 1;
}

.tv-show-input__input {
  height: 14px;
  padding: 12px;
  font-size: 18px;
  border-radius: 2px;
  background-color: #eff3f9;
  color: #2a2f35;
  outline: none;
  border: none;
  flex-grow: 1;
}

.tv-show-input__clear {
  flex-grow: 0;
  margin-left: 4px;
}

.file-picker {
  margin-left: 32px;
}

.file-picker__clear {
  margin-left: 4px;
}

.settings-button {
  margin-left: 32px;
}

.file-rename__loading {
  text-align: center;
}

.file-rename__seasons {
  flex-grow: 1;
  overflow-y: auto;
  padding: 4px;
}

.file-rename__item {
  white-space: pre;
  display: flex;
  box-sizing: border-box;
  height: 38px;
  line-height: 18px;
  cursor: pointer;
  opacity: 0.6;
  color: white;
  text-transform: uppercase;
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 12px;
  font-family: "Open Sans";
  letter-spacing: 1px;
  box-shadow: 0 0 0 0 white;
  transition: box-shadow 0.2s;
}

.file-rename__item:hover {
  opacity: 1;
}

.file-rename__item--episode {
  text-transform: none;
  margin: 0;
  padding: 10px 12px;
  padding-left: 24px;
  background-color: #3d4e6b;
  font-family: 'Varela Round';
  letter-spacing: normal;
}

.file-rename__item--episode:not(.file-rename__item--included):hover {
  box-shadow: -1px 0 0 0 white;
}

.file-rename__item--included {
  box-shadow: -4px 0 0 0 white;
  opacity: 0.8;
}

.file-rename__item--season--excluded {
  border-bottom: 1px solid white;
  transition: border 0.2s;
  transition-delay: 0.5s;
}

.file-rename__item--even {
  background-color: #4f678e;
}

.file-rename__item__checkbox {
  display: none;
}

.file-rename__item__file-name {
  text-align: right;
  flex-grow: 1;
  opacity: 0.4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}

.file-rename__output__dir {
  flex-grow: 1;
  line-height: 38px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-rename__output__choose {
  margin-left: 8px;
  flex-grow: 0;
}

.file-rename__output__clear {
  margin-left: 4px;
  flex-grow: 0;
}

.file-rename__rename-button {
  margin-left: 32px;
}
