@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

::selection {
  background: #acd1fd;
}

:root {
  /* default theme */
  --color-main: #ebf1f1;
  --color-bg-main: #262626;
  --color-error: #e64d3d;

  --color-button: #262626;
  --color-bg-button: #ebf1f1;
  --color-button-hover: var(--color-button);
  --color-bg-button-hover: #bec3c7;
  --color-button-disabled: #7f8d8e;
  --color-bg-button-disabled: #363636;
  --color-button-confirm: #ebf1f1;
  --color-bg-button-confirm: #30cc71;
  --color-button-confirm-hover: var(--color-button-confirm);
  --color-bg-button-confirm-hover: #28ac60;
  --color-button-confirm-disabled: var(--color-button-disabled);
  --color-bg-button-confirm-disabled: var(--color-bg-button-disabled);
  --color-button-delete: var(--color-button-confirm);
  --color-bg-button-delete: #e64d3d;
  --color-button-delete-hover: var(--color-button-delete);
  --color-bg-button-delete-hover: #c0392b;
  --color-button-delete-disabled: var(--color-button-disabled);
  --color-bg-button-delete-disabled: var(--color-bg-button-disabled);

  --color-input: #262626;
  --color-bg-input: #ebf1f1;
  --color-input-active: var(--color-input);
  --color-bg-input-active: var(--color-bg-input);

  --color-autocomplete: var(--color-input);
  --color-bg-autocomplete: var(--color-bg-input);
  --color-autocomplete-selected: #ebf1f1;
  --color-bg-autocomplete-selected: #34495e;

  --color-message-info: #ebf1f1;
  --color-bg-message-info: #3497db;
  --color-message-warning: #363636;
  --color-bg-message-warning: #f1c40f;
  --color-message-error: var(--color-message-info);
  --color-bg-message-error: #e64d3d;
  --color-message-success: var(--color-message-info);
  --color-bg-message-success: #30cc71;

  --color-season: #ebf1f1;
  --color-bg-season: transparent;
  --color-border-season: var(--color-season);

  --color-episode-odd: var(--color-episode-even);
  --color-bg-episode-odd: #363636;
  --color-border-episode-odd: #bec3c7;
  --color-episode-even: #ebf1f1;
  --color-bg-episode-even: #2b2b2b;
  --color-border-episode-even: var(--color-border-episode-odd);
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg-main);
  color: var(--color-main);
  margin: 0;
  font-family: 'Varela Round';
  font-size: 18px;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 850px;
  box-sizing: border-box;
  padding: 24px;
  margin: 0 auto;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  min-height: 54px;
}

.section--main {
  flex-grow: 1;
  flex-direction: column;
}

.section--output {
  align-items: flex-end;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  margin: 8px 0;
}

.button-row > .button {
  margin-left: 32px;
}

.button-row > .button:first-child {
  margin-left: 0;
}

.button {
  display: inline-flex;
  padding: 7px;
  height: 24px;
  min-width: 14px;
  text-align: center;
  line-height: 24px;
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: 2px;
  transition: background-color 0.2s;
  flex-shrink: 0;
  user-select: none;
  white-space: nowrap;
  border: none;
  box-sizing: content-box;
  font-size: 18px;
}

.button > .button__label {
  margin: 0 4px;
}

.button--icon-right {
  flex-direction: row-reverse;
}

.button--confirm {
  color: var(--color-button-confirm);
  background-color: var(--color-bg-button-confirm);
}

.button--delete {
  color: var(--color-button-delete);
  background-color: var(--color-bg-button-delete);
}

.button:not(.button--disabled):hover {
  color: var(--color-button-hover);
  background-color: var(--color-bg-button-hover);
  cursor: pointer;
}

.button--confirm:not(.button--disabled):hover {
  color: var(--color-button-confirm-hover);
  background-color: var(--color-bg-button-confirm-hover);
}

.button--delete:not(.button--disabled):hover {
  color: var(--color-button-delete-hover);
  background-color: var(--color-bg-button-delete-hover);
}

.button:focus {
  outline: 0;
  color: var(--color-button-hover);
  background-color: var(--color-bg-button-hover);
}

.button--confirm:focus {
  color: var(--color-button-confirm-hover);
  background-color: var(--color-bg-button-confirm-hover);
}

.button--delete:focus {
  color: var(--color-button-delete-hover);
  background-color: var(--color-bg-button-delete-hover);
}

.button--disabled {
  color: var(--color-button-disabled);
  background-color: var(--color-bg-button-disabled);
  cursor: default;
}

.button--confirm.button--disabled {
  color: var(--color-button-confirm-disabled);
  background-color: var(--color-bg-button-confirm-disabled);
}

.button--delete.button--disabled {
  color: var(--color-button-delete-disabled);
  background-color: var(--color-bg-button-delete-disabled);
}

.tv-show-input {
  display: flex;
  flex-grow: 1;
}

.tv-show-input__wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.tv-show-input__clear {
  flex-grow: 0;
  margin-left: 4px;
}

.file-picker {
  margin-left: 32px;
  flex-shrink: 0;
}

.file-picker__clear {
  margin-left: 4px;
}

.settings-button {
  margin-left: 32px;
}

.file-rename__loading {
  text-align: center;
}

.file-rename__seasons {
  flex-grow: 1;
  overflow-y: auto;
  padding: 4px;
}

.file-rename__item {
  white-space: pre;
  display: flex;
  box-sizing: border-box;
  height: 38px;
  line-height: 18px;
  cursor: pointer;
  opacity: 0.6;
  color: var(--color-season);
  background-color: var(--color-bg-season);
  text-transform: uppercase;
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 12px;
  font-family: 'Open Sans';
  letter-spacing: 1px;
  box-shadow: 0 0 0 0 var(--color-border-season);
  transition: box-shadow 0.2s;
  flex-grow: 1;
}

.file-rename__item:hover {
  opacity: 1;
}

.file-rename__item__label {
  display: flex;
  align-items: flex-end;
}

.file-rename__item--episode {
  text-transform: none;
  line-height: 38px;
  margin: 0;
  padding: 0 12px;
  padding-left: 24px;
  color: var(--color-episode-odd);
  background-color: var(--color-bg-episode-odd);
  font-family: 'Varela Round';
  letter-spacing: normal;
}

.file-rename__item--episode:not(.file-rename__item--included):hover {
  box-shadow: -1px 0 0 0 var(--color-border-episode-odd);
}

.file-rename__item--included {
  box-shadow: -4px 0 0 0 var(--color-border-episode-odd);
  opacity: 0.8;
}

.file-rename__item--episode.file-rename__item--included {
  box-shadow: -4px 0 0 0 var(--color-border-episode-even);
}

.file-rename__item--season--excluded {
  border-bottom: 1px solid var(--color-border-season);
  transition: border 0.2s;
  transition-delay: 0.5s;
}

.file-rename__item--even {
  color: var(--color-episode-even);
  background-color: var(--color-bg-episode-even);
}

.file-rename__item--even:not(.file-rename__item--included):hover {
  box-shadow: -1px 0 0 0 var(--color-border-episode-even);
}

.file-rename__item__checkbox {
  margin-right: -15px;
  opacity: 0;
}

.file-rename__item__checkbox:focus + .file-rename__item {
  opacity: 1;
}

.file-rename__item__name {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-rename__item__file-name {
  text-align: right;
  flex-grow: 1;
  opacity: 0.4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}

.file-rename__output__dir {
  margin-left: 8px;
  flex-grow: 1;
  line-height: 38px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-rename__output__choose {
  margin-left: 8px;
  flex-grow: 0;
}

.file-rename__output__clear {
  margin-left: 4px;
  flex-grow: 0;
}

.file-rename__rename-button {
  margin-left: 32px;
}

.message {
  padding: 8px 16px;
  margin: 0 0 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
  opacity: 0;
  left: -100%;
}

.message--visible {
  opacity: 1;
  left: 0;
}

.message--dismiss {
  opacity: 0;
  left: 100%;
}

.message--info {
  color: var(--color-message-info);
  background-color: var(--color-bg-message-info);
}

.message--success {
  color: var(--color-message-success);
  background-color: var(--color-bg-message-success);
}

.message--warning {
  color: var(--color-message-warning);
  background-color: var(--color-bg-message-warning);
}

.message--error {
  color: var(--color-message-error);
  background-color: var(--color-bg-message-error);
}

.message__text {
  flex-grow: 1;
}

.message__icon {
  flex-grow: 0;
  margin-left: -8px;
  margin-right: 8px;
  height: 24px;
}

.message__close {
  flex-grow: 0;
  cursor: pointer;
  margin-left: 8px;
  margin-right: -8px;
  height: 24px;
}

.settings-pane {
  bottom: -200px;
  position: absolute;
  overflow: auto;
  height: 800px;
  width: 100%;
  background-color: #262626;
  z-index: 10;
  transition: bottom 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.settings-pane--hidden {
  bottom: -800px;
}

.settings-pane__container {
  margin-bottom: 200px;
  box-sizing: content-box;
  height: auto;
}

.settings-pane__setting {
  max-width: 600px;
  margin-top: 24px;
  box-sizing: border-box;
}

.settings-pane__setting__label {
  margin-bottom: 8px;
}

.settings-pane__setting__message {
  white-space: pre-wrap;
  margin-top: 8px;
  opacity: 0.5;
}

.settings-pane__setting__group {
  display: flex;
}

.settings-pane__setting__group__button {
  margin-left: 8px;
}

.settings-pane__setting__group__button--radio:first-of-type {
  margin-left: 0;
}

.error {
  color: var(--color-error);
}

.settings-backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
  transition: opacity 0.3s;
}

.settings-backdrop--hidden {
  opacity: 0;
  z-index: -1;
}

.input {
  height: 38px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 2px;
  color: var(--color-input);
  background-color: var(--color-bg-input);
  outline: none;
  border: none;
  flex-grow: 1;
  box-sizing: border-box;
}

.input:hover,
.input:active,
.input:focus {
  color: var(--color-input-active);
  background-color: var(--color-bg-input-active);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.loading__backdrop {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 15;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__backdrop--hidden {
  opacity: 0;
  z-index: -10;
}

.ko-fi-icon {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000BB;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 24px;
  margin: 24px;
  background-color: var(--color-bg-main);
  max-width: 850px;
  border-radius: 8px;
}

.migrate-file-name-template {
  line-height: 1.5;
}
